/*Both*/
html,
body {
	font-family: 'Kdam Thmor Pro', sans-serif;
	font-weight: 400;
	font-style: normal;
	height: auto;
	margin: 0;
	padding: 0;
}

#title {
	color: black;
	width: fit-content;
	display: flex;
	align-items: center;
}
#header {
	background-color: white;
	display: flex;
}
#header a {
	color: black;
	text-decoration: none;
}
#navbar {
	width: fit-content;
	display: flex;
	align-items: center;
	margin-left: auto;
}
#navbar a {
	padding: 0px 30px;
}
#navbarNotes {
	margin-right: 20px;
}

#menuText {
	color: white;
	line-height: normal;
	text-align: center;
}
#menuTextSquare {
	color: black;
	background-color: white;
	padding: 0px 5px;
	display: inline;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

#menuList {
	color: white;
	margin-top: 60px;
	line-height: normal;
}
#menuList2 {
	width: fit-content;
}
#menuList2 i {
	font-style: normal;
}

#menuLabelColorScheme {
	color: white;
	margin-left: 15px;
	display: block;
}
#menuColorSchemeWithText {
	margin-top: 60px;
	display: grid;
	justify-content: center;
}
@media (max-width: 369px) {
	#menuLabelColorScheme {
		text-align: center;
		margin-left: 0px;
	}
}
#menuColorScheme {
	flex-wrap: wrap;
}
#menuColorScheme button {
	padding: 30px;
	margin: 15px;
	border: 0px;
	width: 5vw;
	height: 5vw;
}
#menuButton1 {
	background-color: white;
	max-width: 100px;
	max-height: 100px;
}
#menuButton2 {
	background-color: #7a4343;
	max-width: 100px;
	max-height: 100px;
}
#menuButton3 {
	background-color: #454980;
	max-width: 100px;
	max-height: 100px;
}
#menuButton4 {
	background-color: #437a4c;
	max-width: 100px;
	max-height: 100px;
}

#menuAbout {
	display: grid;
}

#menuBottom {
	width: 100%;
	display: flex;
	margin: 0;
	position: fixed;
	bottom: 20px;
	justify-content: center;
}

#menuBottom i {
	width: 15%;
	justify-content: center;
	align-items: center;
	display: flex;
	aspect-ratio: 1 / 1;
	background-color: white;
	font-size: 7vw;
}

#menuHome {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
#menuNotes {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#pomodoroAll {
	justify-self: center;
	background-color: white;
	margin-top: 60px;
	width: fit-content;
	display: grid;
	justify-content: center;
	text-align: center;
	border-radius: 7px;
	padding: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

#pomodoroTimerOptions {
	display: flex;
	justify-content: center;
	gap: 25px;
	font-size: clamp(12px, 2vw, 24px);
	align-items: center;
}

#pomodoroTimer {
	margin-top: 10px;
	width: fit-content;
	justify-self: center;
}

#pomodoroTimerButton {
	margin-top: 10px;
	width: fit-content;
	justify-self: center;
	padding: 3px 40px;
	border: 0px;
	border-radius: 7px;
	background-color: #e7e7e7;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}

#pomodoroBottomText {
	color: white;
	text-align: center;
	margin-top: 20px;
	font-size: clamp(12px, 2vw, 24px);
}

main,
#notesAll {
	width: 100%;
	height: auto;
}

#notesText {
	resize: none;
	display: block;
	justify-self: center;
	margin-top: 5%;
	width: 90%;
	height: 90%;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 7px;
	padding: 20px;
	font-size: clamp(16px, 3vw, 32px);
	height: 100%;
	min-height: 90px;
}
#notesText::placeholder {
	color: var(--placeholder-color, black);
	opacity: 0.8;
	font-weight: bold;
	letter-spacing: 0.7px;
}

#todoContainer {
	width: 100%;
	min-height: auto;
}
#todoAll {
	width: 80%;
	max-width: 540px;
	background-color: white;
	border-radius: 7px;
}

#todoTitle {
	color: black;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

#todoRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 7px;
	padding-left: 3px;
	margin-bottom: 25px;
	background-color: #e7e7e7;
}

#inputBox {
	font-size: clamp(12px, 3vw, 18px);
	flex: 1;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 10px;
	min-width: 0;
}

#todoButtonAdd {
	background-color: black; /*#5E3333 #33375E #335E3A*/
	padding: 10px 10px;
	border: none;
	outline: none;
	width: auto;
	color: white;
	font-size: clamp(12px, 3vw, 18px);
	cursor: pointer;
	border-radius: 7px;
}

#todoListContainer li {
	list-style: none;
	font-size: clamp(12px, 3vw, 18px);
	user-select: none;
	cursor: pointer;
	position: relative;
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

#todoListContainer li::before {
	content: '';
	position: absolute;
	border-radius: 7px;
	background-image: url(../img/unchecked.png);
	background-size: cover;
	background-position: center;
	top: 8px;
	left: -31px;
}

#todoListContainer li.checked {
	color: #9c9c9c;
	text-decoration: line-through;
}

#todoListContainer li.checked::before {
	background-image: url(../img/checked.png);
}

#todoListContainer li span {
	position: absolute;
	top: 4px;
	width: 35px;
	height: 35px;
	font-size: clamp(18px, 3vw, 24px);
	color: black;
	line-height: 35px;
	text-align: center;
	border-radius: 7px;
}

#todoListContainer li span:hover {
	background-color: #e7e7e7;
}

/*Mobile*/
@media (max-width: 1023px) {
	#title {
		margin: 0 auto;
		padding: 10px 0px;
	}

	#navbar {
		display: none;
	}

	#menuColorScheme {
		margin-bottom: 35%;
	}

	#menuText {
		margin: 50px 17% 0px 17%;
	}

	#todoAll {
		margin: 60px auto 20px auto;
		padding: 30px 30px 20px;
	}

	#todoListContainer li span {
		right: -38px;
		line-height: 30px;
		width: 30px;
		height: 30px;
	}

	#todoListContainer li {
		width: 85%;
		padding: 10px 8px 12px 0px;
	}

	#todoListContainer li::before {
		height: 20px;
		width: 20px;
	}
}

/*PC*/
@media (min-width: 1024px) {
	#title {
		text-align: left;
		padding: 15px 0px 10px 15px;
	}

	#menuText {
		width: 500px;
		text-align: left;
	}

	#menuList {
		margin-top: 10px;
		margin-left: 15%;
	}

	#menuBottom {
		display: none;
	}

	#menuAbout {
		margin-top: 60px;
		display: flex;
		justify-content: center;
	}

	#menuColorSchemeWithText {
		justify-content: left;
		margin-left: auto;
		margin-bottom: 40px;
	}

	#notesText {
		margin-top: 2.5%;
		width: 95%;
		height: 95%;
	}

	#todoAll {
		margin: 60px auto 20px auto;
		padding: 40px 40px 30px;
	}

	#todoListContainer li span {
		right: -46px;
		width: 35px;
		height: 35px;
		line-height: 35px;
	}

	#todoListContainer li {
		width: 90%;
		padding: 10px 8px 12px 10px;
	}

	#todoListContainer li::before {
		height: 28px;
		width: 28px;
	}
}
